body{
	background: linear-gradient(to right,red,yellow);
	text-align: center;
}

h1{
	color: rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
	letter-spacing: .5em;
}

h2{
	text-transform: uppercase;
	letter-spacing: .5em;
}